body {
  padding: 50px;
  font: 28px "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
  margin-bottom: 10vh;
}


.main-board {
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.start{
 text-align: center;
}

.row {
  display: inline-block;
  width: 100%;
  height: auto;
}

.cell0 {
  vertical-align: top;
  text-align: center;
  line-height: 15vh;
  width: 30%;
  display: inline-block;
  height: 15vh;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  cursor: pointer;
}
.cell1 {
  vertical-align: top;
  text-align: center;
  line-height: 15vh;
  width: 30%;
  display: inline-block;
  height: 15vh;
  border-bottom: 2px solid black;
  cursor: pointer;
}
.cell2 {
  vertical-align: top;
  text-align: center;
  line-height: 15vh;
  width: 30%;
  display: inline-block;
  height: 15vh;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  cursor: pointer;
}
.cell3 {
  vertical-align: top;
  text-align: center;
  line-height: 15vh;
  width: 30%;
  display: inline-block;
  height: 15vh;
  cursor: pointer;
}
.cell4 {
  vertical-align: top;
  text-align: center;
  line-height: 15vh;
  width: 30%;
  display: inline-block;
  height: 15vh;
  border-left: 2px solid black;
  border-right: 2px solid black;
  cursor: pointer;
}
.cell5 {
  vertical-align: top;
  text-align: center;
  line-height: 15vh;
  width: 30%;
  display: inline-block;
  height: 15vh;
  cursor: pointer;
}
.cell6 {
  vertical-align: top;
  text-align: center;
  line-height: 15vh;
  width: 30%;
  display: inline-block;
  height: 15vh;
  border-top: 2px solid black;
  border-right: 2px solid black;
  cursor: pointer;
}
.cell7 {
  vertical-align: top;
  text-align: center;
  line-height: 15vh;
  width: 30%;
  display: inline-block;
  height: 15vh;
  border-top: 2px solid black;
  cursor: pointer;
}
.cell8 {
  vertical-align: top;
  text-align: center;
  line-height: 15vh;
  width: 30%;
  display: inline-block;
  height: 15vh;
  border-left: 2px solid black;
  border-top: 2px solid black;
  cursor: pointer;
}
